/**
 * @file
 * Base styles needed for all previews provided by Panopoly Magic.
 */

.panopoly-magic-preview-wrapper {
  margin: .5em 0;
  border: 1px solid darkgray;
}

.panopoly-magic-preview-title-wrapper {
  color: black;
  background-color: lightgray;
  border-bottom: 1px solid darkgray;
  padding: 2px;
}
.panopoly-magic-preview-title-inner {
  color: black;
  background-color: lightgray;
  margin: 0 2px;
}

.panopoly-magic-preview-title-wrapper .panopoly-magic-preview-add-link {
  float: right;
  background-color: green;
  color: white;
  border: 1px solid darkgreen;
  padding: 2px;
}
.panopoly-magic-preview-title-wrapper .panopoly-magic-preview-add-link * {
  color: white;
  background-color: green;
}

.panopoly-magic-preview-inner {
  padding: .5em;
}
