/**
 * @file
 * Styles for the live previews from Panopoly Magic.
 */

.panopoly-magic-live-preview > .panopoly-magic-preview-wrapper {
  float: right;
  width: 48%;
  height: 400px;
  overflow: hidden;
  background-color: #fff;
}

.panopoly-magic-live-preview > .panopoly-magic-preview-wrapper > .panopoly-magic-preview-inner {
  height: 100%;
  overflow: auto;
}

.panopoly-magic-live-preview > form > .form-item,
.panopoly-magic-live-preview > form > .form-wrapper {
  width: 48% !important;
}
