{#
/**
 * @file
 * Default theme implementation for Panopoly magic choose block links.
 *
 * @ingroup themeable
 */
#}
<div {{ attributes.addClass('panopoly-magic-choose-block-link-wrapper') }}>
  {{ link }}
  {% if add_link %}
    <div class="panopoly-magic-choose-block-link-add-link">{{ add_link }}</div>
  {% endif %}
  <div class="panopoly-magic-choose-block-link-description">{{ description }}</div>
</div>

